extends ../includes/header.pug
block content
    .login-body
        .register-bg
            img(src="/images/rbg1.jpg", alt="")
        .login-wrapper
            h2 用户注册
            form(method="post", action="/register/action").login-form
                .login-group
                    input.login-input#modelTel(type="text", name="user['tel']" placeholder="手机号码")
                .login-group
                    input.login-input#modelPwd(type="password", name="user['password']" placeholder="密码")
                .login-group
                    span.btn.btn-block.btn-info.btn-lg#submit 注册
                    .login-to-reg
                        a(href="/login") 已有账号，立即登录
        .login-footer
            p 技术支持：typescript + nodejs + koa2 + mysql + pug
    .modal.fade#modal(tabindex="-1", role="diglog")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4.modal-title 提示
                .modal-body
                    p.alert-text
                .modal-footer
                    button.btn.btn-primary(type="button", data-dismiss="modal") 确定
    script(type="text/javascript", src="/dist/frontend/login.min.js")