extends ../includes/header.pug
block content
    .login-body
        .register-bg
            img(src="/images/rbg1.jpg", alt="")
        .login-wrapper
            h2 用户注册
            form(method="post").login-form
                .login-group
                    input.login-input#modelTel(type="text", placeholder="手机号码")
                .login-group
                    input.login-input#modelPwd(type="password", placeholder="密码")
                .login-group
                    span.btn.btn-block.btn-info.btn-lg#submit 注册
                    .login-to-reg
                        a(href="/login") 已有账号，立即登录
        .login-footer
            p 技术支持：typescript + nodejs + koa2 + mysql + pug
    script(type="text/javascript", src="/dist/frontend/register.min.js")