include ../includes/container
    form(action="", method="get").user-form
        .form-group
            label 用户名称
            input(type="text", placeholder="请输入用户名称", value=(data.name || ''), name="name")
        .form-group
            label 手机号码
            input(type="text", placeholder="请输入用户手机号码", value=data.tel, name="tel")
        .form-group
            label 用户邮箱
            input(type="email", placeholder="请输入用户邮箱", value=data.email, email="email")
        .form-group
            label 用户头像
            .input-item
                .form-upload
                    input(type="file", id="iconFile")
                    span +
                        img(src="", id="iconImg")
                    input(type="hidden", name="icon")
        .form-group-footer
            button.btn.btn-primary(type="submit") 提交
    script(type="text/javascript", src="/dist/admin/frontend/user/user.min.js")