extends ./header
block content
    .area-left
        .area-lt
            h2.clear
                img(src="https://dummyimage.com/600x400/851736/fff", alt="")
                div
                    dl.clear
                        dt Canon
                        dd
                            a(href="/admin/user").iconfont.icon-chilun
                            div
                    span 13414059353
        .area-lb
            ul
                li.active
                    a(href="#").iconfont.icon-store 主页
                li
                    a(href="#").iconfont.icon-list 商品管理
                li
                    a(href="#").iconfont.icon-comment 评论管理
    .area-right
        block content