extends ./header
block content
    .area-left
        .area-lt
            h2.clear
                img(src=data.icon, alt="")
                div
                    dl.clear
                        dt #{data.name || '未命名'}
                        dd
                            a(href="/admin/user").iconfont.icon-chilun
                            div
                    span #{data.tel}
        .area-lb
            ul
                li.active
                    a(href="#").iconfont.icon-store 主页
                li
                    a(href="#").iconfont.icon-list 商品管理
                li
                    a(href="#").iconfont.icon-comment 评论管理
    .area-right
        block content